<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body class="bg-slate-50">
  <%- include("partials/navbar") %>
  <section class="px-4 py-14 md:py-20">
    <div class="max-w-screen-lg mx-auto grid md:grid-cols-8 md:gap-10">
      <main class="flex flex-col gap-6 md:col-span-6">
        <% if (file.fileType.includes("image")) { %>
          <img src="<%= file.fileUrl %>" alt="<%= file.description ? decode(file.description) : null %>" class="w-48 h-auto rounded-md">
        <% } else { %>
          <svg class="fill-slate-900 w-28 h-auto" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M312 155h91c2.8 0 5-2.2 5-5 0-8.9-3.9-17.3-10.7-22.9L321 63.5c-5.8-4.8-13-7.4-20.6-7.4-4.1 0-7.4 3.3-7.4 7.4V136c0 10.5 8.5 19 19 19z"></path><path d="M267 136V56H136c-17.6 0-32 14.4-32 32v336c0 17.6 14.4 32 32 32h240c17.6 0 32-14.4 32-32V181h-96c-24.8 0-45-20.2-45-45z"></path></svg>
        <% } %>
        <div class="flex flex-col gap-2">
          <h1 class="text-2xl font-bold md:text-4xl"><%= decode(file.name) %></h1>
          <% if (file.description) { %>
            <p><%= decode(file.description) %> </p>
          <% } %>
        </div>
        <div class="bg-slate-100 rounded-md shadow-md border border-slate-300 p-4 flex flex-wrap gap-8">
          <div>
            <p class="text-sm font-medium text-slate-600">Uploaded on</p>
            <p class="text-lg text-slate-900"><%= DateTime.fromJSDate(file.createdAt).toLocaleString(DateTime.DATETIME_MED) %></p>
          </div>
          <div>
            <p class="text-sm font-medium text-slate-600">Last edited on</p>
            <p class="text-lg text-slate-900"><%= DateTime.fromJSDate(file.updatedAt).toLocaleString(DateTime.DATETIME_MED) %></p>
          </div>
          <div>
            <p class="text-sm font-medium text-slate-600">File Type</p>
            <p class="text-lg text-slate-900"><%= file.fileType %></p>
          </div>
          <div>
            <p class="text-sm font-medium text-slate-600">File Size</p>
            <p class="text-lg text-slate-900"><%= formatBytes(file.size) %></p>
          </div>
          <div>
            <p class="text-sm font-medium text-slate-600">In Folder</p>
            <p class="text-lg text-slate-900"><%= decode(file.inFolder.name) %></p>
          </div>
        </div>
      </main>
      <aside class="flex flex-col gap-4 items-start p-6 md:col-span-2">
        <a href="<%= file.fileUrl %>" class="bg-slate-800 text-slate-50 text-lg px-6 py-2 rounded-xl block leading-none" download>Download</a>
        <a href="/files/<%= file.id %>/update" class="bg-slate-50 text-slate-800 border-2 border-slate-800 text-lg px-6 py-2 rounded-xl block leading-none">Edit File</a>
        <a href="/files/<%= file.id %>/delete" class="text-red-700 text-lg block leading-none">Delete File</a>
      </aside>
    </div>
  </section>
</body>
</html>