<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body class="bg-slate-50">
  <%- include("partials/navbar") %>
  <section class="p-4 flex flex-col gap-10 py-14 items-center justify-center bg-slate-50 md:py-20">
    <div class="flex flex-col gap-6">
      <h1 class="text-2xl font-bold text-slate-950 md:text-4xl md:text-center"><%= decode(locals.currentUser.firstName)%>&apos;s folders</h1>
      <% if (locals.query) { %>
        <p class="text-lg text-slate-700">Searching for &apos;<%= locals.query %>&apos;</p>
      <% } %>
    </div>
    <div class="grid gap w-full max-w-screen-lg mx-auto md:grid-cols-8">
      <aside class="flex flex-col items-start gap-8 p-6 md:col-span-2">
        <div class="flex flex-col gap-4 items-start">
          <a href="/folders/create" class="bg-slate-800 text-slate-50 text-lg px-6 py-2 rounded-xl block leading-none">Create Folder</a>
        </div>
        <form action="/folders" method="get" class="flex flex-col items-start gap-4 w-full">
          <div class="flex flex-col gap-2 justify-start">
            <label class="text-sm text-slate-700" for="limit">Results per page</label>
            <input
              type="number"
              name="limit"
              id="limit"
              value="<%= locals.limit ? locals.limit : "10" %>"
              class="text-slate-900 border border-slate-300 rounded-md w-32 px-4 py-2"/>
          </div>
          <div class="flex flex-col gap-2 justify-start">
            <label class="text-sm text-slate-700" for="q">Search by Name</label>
            <input
              type="text"
              name="q"
              id="q"
              class="text-slate-900 w-full border border-slate-300 rounded-md px-4 py-2"
              value="<%= locals.query ? locals.query : "" %>"/>
          </div>
          <button type="submit" class="bg-slate-50 text-slate-800 border-2 border-slate-800 w-full text-lg px-6 py-2 rounded-xl block leading-none">Search</button>
        </form>
      </aside>
      <main class="md:col-span-6">
        <!-- Folders-->
        <div class="p-6 flex flex-col gap-8 overflow-clip">
          <h2 class="text-lg">Recent Folders</h2>
          <div class="grid grid-cols-[repeat(auto-fill,_minmax(11rem,_1fr))] gap-3 py-2">
            <% if (folders.length > 0) { %>
              <% folders.map(folder => { %>
                <a href="/folders/<%= folder.id %>" class="bg-white shadow-md w-fill border border-slate-300 rounded-md p-3 flex flex-col gap-3 text-slate-900">
                  <div class="w-full py-4 flex justify-center items-center">
                    <svg class="fill-slate-900 h-14 w-14" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"></path></svg>
                  </div>
                  <div class="flex flex-col gap-1 justify-between">
                    <p class="text-lg font-medium truncate"><%- decode(folder.name) %></p>                
                    <p class="text-sm font-light">Last update:<br><%= DateTime.fromJSDate(folder.updatedAt).toLocaleString(DateTime.DATE_MED) %></p>
                  </div>
                </a>
              <% }) %>
            <% } else { %>
              <p class="text-slate-700">No folders have been created yet.</p>
            <% } %>
          </div>
        </div>
        <div class="flex gap-4 justify-center">
          <% locals.pagesArr.map( item => { %>
            <a href="<%- item.href %>" class="leading-none text-slate-800 border border-slate-300 rounded-md bg-white shadow-md p-2"><%= item.num %></a>
          <% }) %>
        </div>
     </main>
    </div>
  </section>
</body>
</html>