<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body class="bg-slate-50">
  <%- include("partials/navbar") %>
  <section class="p-4 flex flex-col gap-10 py-14 items-center justify-center bg-slate-50 md:py-20">
    <div class="flex flex-col gap-6">
      <h1 class="text-2xl font-bold text-slate-950 md:text-4xl">Delete <%= decode(locals.folder.name) %>?</h1>
      <p class="text-slate-800 text-lg md:text-xl md:text-center"><%= decode(locals.folder.description) %></p>
    </div>
    <div class="flex flex-col gap-2 justify-center items-center">
      <h2 class="text-2xl font-bold text-slate-900">Are you sure you want to delete this folder?</h2>
      <% if (locals.folder?.files.length > 0) { %>
        <p class="text-lg text-slate-700">This folder has the following files:</p>
      <% } else { %>
        <p class="text-lg text-slate-700">This folder is empty. It&apos;s safe to delete if you wish</p>
        
      <% } %>
      <p></p>
    </div>
    <div class="max-w-screen-md w-full mx-auto">
      <div class="w-full grid gap-6 justify-items-center md:grid-cols-[repeat(auto-fill,_minmax(12rem,_1fr))]">
        <% if (locals.folder.files && locals.folder.files.length > 0) { %>
          <% locals.folder.files.map(file => { %>
            <div class="flex flex-col justify-between bg-white rounded-md shadow-md p-3 w-48 gap-3">
              <% if (file.fileType.includes("image")) { %>
                <img class="w-full h-auto rounded-md" src="<%= file.fileUrl %> " alt="<%= file.description ? decode(file.description) : null %>">
              <% } else { %>
                <svg class="fill-slate-900 w-28 h-auto" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M312 155h91c2.8 0 5-2.2 5-5 0-8.9-3.9-17.3-10.7-22.9L321 63.5c-5.8-4.8-13-7.4-20.6-7.4-4.1 0-7.4 3.3-7.4 7.4V136c0 10.5 8.5 19 19 19z"></path><path d="M267 136V56H136c-17.6 0-32 14.4-32 32v336c0 17.6 14.4 32 32 32h240c17.6 0 32-14.4 32-32V181h-96c-24.8 0-45-20.2-45-45z"></path></svg>
              <% } %>
              <div class="flex flex-col gap-2">
                <div class="text-slate-900">
                  <a href="/files/<%= file.id %>">
                    <p class="text-lg font-medium "><%= decode(file.name) %></p>
                    <p class="font-light text-sm"><span class="text-xs">Last update:</span> <%= DateTime.fromJSDate(file.updatedAt).toLocaleString(DateTime.DATE_MED) %></p>
                    <p class="font-light text-sm"><span class="text-xs">Size:</span> <%= formatBytes(file.size) %></p>
                  </a>
                  <% if (file.description) { %>
                    <p class="font-light text-sm"><%= decode(file.description)%></p>
                  <% } %>
                </div>
                <div class="flex flex-row justify-between">
                  <a href="/files/<%= file.id%>/update" class="p-1 bg-white border border-slate-200 shadow-md rounded-md flex justify-center items-center hover:bg-slate-100"><svg class="fill-slate-900 h-6 w-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg></a>
                  <a href="/files/<%= file.id%>/delete" class="p-1 bg-red-100 border border-red-200 shadow-md rounded-md flex justify-center items-center hover:bg-red-200"><svg class="fill-red-700 h-6 w-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"></path></svg></a>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p class="text-slate-800">No files in this folder...</p>
        <% } %>
      </div>
    </div>
    <form action="/folders/<%= folder.id %>/delete" method="POST" class="flex flex-row gap-4 p-6 w-full max-w-screen-md mx-auto justify-center">
      <a href="/folders/<%= folder.id %>" class="bg-slate-800 text-slate-50 text-lg px-6 py-2 rounded-xl block leading-none">Go Back</a>
      <button type="submit" class="bg-red-700 text-red-50 px-6 py-2 block leading-none text-lg rounded-xl">Delete Folder</button>
    </form>
  </section>
</body>
</html>