<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body class="bg-slate-50">
  <%- include("partials/navbar") %>
  <section class="p-4 flex flex-col gap-10 py-14 items-center justify-center bg-slate-50 md:py-20">
    <div class="flex flex-col gap-6">
      <h1 class="text-2xl font-bold text-slate-950 md:text-4xl"><%= locals.h1 %></h1>
    </div>
    <form action="/folders/<%= folder.id %>/share" method="POST" class="p-6 flex flex-col gap-4 w-full max-w-sm bg-white border border-slate-300 shadow-lg rounded-xl">
      <div class="flex flex-col gap-1 relative">
        <p for="name" class="text-slate-800">Folder You Are Sharing</p>
        <p class="text-slate-900 text-lg font-bold"><%= decode(folder.name) %> </p>
      </div>
      <div class="flex flex-col gap-1 relative">
        <label for="expires_in" class="text-slate-800">Folder Description <span class="text-xs text-slate-600">(256 characters)</span></label>
        <select name="expires_in" id="expires_in" required class="px-4 py-2 bg-slate-100 text-slate-800 border border-slate-300 rounded-md">
          <option value="15m">15 Minutes</option>
          <option value="1h">1 Hour</option>
          <option value="6h">6 Hours</option>
          <option value="1d">1 Day</option>
          <option value="5d">5 Days</option>
          <option value="1w">1 Week</option>
          <option value="2w">2 Weeks</option>
          <option value="1mo">1 Month</option>
        </select>
      </div>
      <button type="submit" class="bg-slate-800 text-slate-50 text-lg px-6 py-2 rounded-xl block leading-none">Create Share</a>
    </form>
  </section>
</body>
</html>