<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body class="bg-slate-50">
  <%- include("partials/navbar") %>
  <section class="p-4 flex flex-col gap-10 py-14 items-center justify-center bg-slate-50 md:py-20">
    <div class="flex flex-col gap-6">
      <h1 class="text-4xl font-bold text-slate-950 md:text-6xl">Login to Start Sharing</h1>
      <p class="text-slate-800 text-lg font-medium md:text-xl md:text-center">Upload, save, and share!</p>
    </div>
    <form action="/login" method="POST" class="p-6 flex flex-col gap-4 w-full max-w-sm bg-white border border-slate-300 shadow-lg rounded-xl">
      <div class="flex flex-col gap-1">
        <label for="username" class="text-slate-800">Email</label>
        <input 
          type="email"
          name="username"
          id="username"
          value="<%= locals.username ? locals.username : "" %>"
          class="text-slate-900 rounded-md text-lg bg-slate-50 border border-slate-300  placeholder:text-slate-500 px-4 py-2"
          />
      </div>
      <% if (locals.validErrors?.username) { %>
        <p class="p-2 bg-red-50 border border-red-100 text-red-900 rounded-md"><%= locals.validErrors.username?.msg%></p>    
      <% } %>
      <div class="flex flex-col gap-1">
        <label for="password" class="text-slate-800">Password</label>
        <input type="password" name="password" id="password" class="text-slate-900 rounded-md text-lg bg-slate-50 border border-slate-300  placeholder:text-slate-500 px-4 py-2">
      </div>
      <% if (locals.validErrors?.password) { %>
        <p class="p-2 bg-red-50 border border-red-100 text-red-900 rounded-md"><%= locals.validErrors.password?.msg%></p>    
      <% } %>
      <button type="submit" class="bg-slate-800 text-slate-50 text-lg px-6 py-2 rounded-xl block leading-none">Log in</a>
    </form>
  </section>
</body>
</html>